@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.add-bills-container h2 {
  color: white;
}

.add-bills-container {
  max-width: 500px; /* Ajusta el ancho máximo del formulario */
  height: auto;
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-bills-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-bills-container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #d60303;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 3px;
}

#cancelar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 3px;
}
