.auto-detail {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    max-width: 600px;
    color:rgb(255, 255, 255);
}

.maintenance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.maintenance-table th, .maintenance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.auto-detail input {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.auto-detail button {
    padding: 10px 20px;
    background-color: #d10000;
    color: white;
    border: none;
    cursor: pointer;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
}

.back-link:hover {
    color: #d10000;
}

.titulo-h2{ color: black}
