/* Reset de estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del fondo */
body {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("Images/Mecanicos-certificados-en-nuestras-marcas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}

/* Contenedor principal para la búsqueda y resultados */
.auto-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 80px; /* Espacio para la barra de navegación */
    min-height: calc(100vh - 80px);
    color: white;
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Contenedor de búsqueda y botones */
.search-add-container {
    display: flex;
    flex-direction: column; /* Coloca la barra de búsqueda y los botones en columna */
    align-items: center;
    width: 100%;
}

/* Input de búsqueda */
.auto-search-input {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Botones de agregar auto y escanear QR */
.buttons-search-add-container {
    display: flex;
    flex-direction: row; /* Coloca los botones en fila */
    gap: 10px; /* Espacio entre los botones */
    margin-bottom: 20px;
}

.add-auto-button, .scan-qr-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-auto-button {
    background-color: #d30000;
    color: white;
}

.add-auto-button:hover {
    background-color: #b30000;
}

.scan-qr-button {
    background-color: #b30000;
    color: white;
}

.scan-qr-button:hover {
    background-color: #a10000;
}

/* Lista de tarjetas de autos */
.auto-card-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
