.edit-car {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin-top: 65px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.edit-car h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.edit-car input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.edit-car button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f565dd;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-car button:hover {
    background-color: #ffa9ea;
}
