.edit-car {
  max-width: 500px; /* Ajusta el ancho máximo del formulario */
  margin: 66px; /* Centra el formulario horizontalmente */
  padding: 10px;
  border: 1px solid #444444;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-car h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.edit-car input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.edit-car button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f565dd;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-car button:hover {
  background-color: #ffa9ea;
}
