.flota-item {
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border: 1px solid #d10000;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.flota-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.flota-item p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 1rem;
}

.flota-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; 
    width: 100%;
}