#modal-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 70%;
  color: black;
  position: fixed;
  margin: auto; /* Centra el modal horizontal y verticalmente */
  margin-top: 7.5%;
  inset: 0;
  border-radius: 1%;
  background-color: white;
  backdrop-filter: blur(10px);
  z-index: 10000;
}

#tittle {
  color: rgb(29, 83, 153);
  padding-left: 0px;
  margin-left: 18%;
  font-size: 45px;
  align-items: center;
  margin-left: 0%;
  margin-bottom: 0%;
}

#form-producto {
  height: 100%;
}

.input-producto,
#modal-select-categoria {
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#btn-add-producto {
  display: inline;
  padding-left: 20px;
  margin-left: 18%;
  width: 30%;
}

#btn-close-modal {
  background-color: grey;
  width: 30%;
}

/* Media Queries */
@media (max-width: 768px) {
  #modal-container {
    width: 80%; /* Ancho del modal incrementado para pantallas más pequeñas */
    height: 80%; /* Ajustado para mejorar la vista en pantallas más pequeñas */
    margin-top: 15%; /* Mayor espacio en la parte superior */
  }

  #tittle {
    margin-left: 0; /* Centrar título */
    text-align: center; /* Centrar texto del título */
    font-size: 35px; /* Reducir tamaño de fuente */
  }

  .input-producto,
  #modal-select-categoria {
    height: auto; /* Ajuste automático de la altura */
    padding: 10px;
  }

  #btn-add-producto,
  #btn-close-modal {
    width: 80%; /* Incrementar ancho de botones */
    margin: 10px auto; /* Margen automático para centrar botones */
  }
}

@media (max-width: 480px) {
  #modal-container {
    width: 90%; /* Ancho del modal incrementado para pantallas más pequeñas */
    height: auto; /* Ajuste automático de la altura */
    margin-top: 20%; /* Mayor espacio en la parte superior */
  }

  #tittle {
    font-size: large; /* Reducir tamaño de fuente */
  }

  .input-producto,
  #modal-select-categoria {
    height: auto; /* Ajuste automático de la altura */
    width: 100%;
    padding: 8px;
  }

  #btn-add-producto,
  #btn-close-modal {
    width: 90%; /* Incrementar ancho de botones */
    margin: 10px auto; /* Margen automático para centrar botones */
  }
}
