@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* my-bills-container */

.my-bills-container button {
  max-width: 100%;
  height: auto;
  margin: 3px;
  background-color: red;
}

.my-bills-container h1 {
  padding-top: 20%;
  color: white;
}

#lista {
  max-width: 500px; /* Ajusta el ancho máximo del formulario */
  height: auto;
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.lista {
  color: white;
}

.gasto-item {
  border: 1px solid #241b1b;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #1b1313;
}
