/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del fondo */
.Products .body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(10, 9, 9, 0.5)
    ),
    url("Images/Mecanicos-certificados-en-nuestras-marcas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;
}

.productos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 80px; /* Espacio para la barra de navegación */
  margin: 80px auto; /* Centra el contenedor horizontalmente */
  min-height: calc(100vh - 80px);
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-table {
  box-sizing: border-box;
  width: 100%; /* Ajustado a 100% para evitar exceso de ancho */
}

.table-productos {
  margin-top: 1cm;
  background-color: rgba(66, 61, 61, 0.5);
  width: 100%;
  font-size: x-large;
}

th,
td {
  height: 80px;
  width: 500px;
  border-bottom: 1px solid;
}

#opcions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#abrir-add-product {
  align-items: end;
  border-radius: 0%;
  width: auto; /* Ajustado a auto para evitar exceso de ancho */
  padding: 20px 20px;
}

.search-container {
  position: relative;
  width: 100%;
  padding-left: 240px;
  padding-right: 190px;
  z-index: 1;
}
#search-producto {
  padding-left: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}
#search-icon {
  position: absolute;
  left: 250px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

#select-categoria {
  width: auto; /* Ajustado a auto para evitar exceso de ancho */
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.productos-container h2 {
  color: #ffffff;
  font-size: 49px;
  margin-top: 1px;
}

/* Estilos para los botones */
.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-modificar {
  background-color: #f44336; /* Color verde */
  color: white;
}

.button-eliminar {
  background-color: #f44336; /* Color rojo */
  color: white;
  padding-right: 24.3px;
  padding-left: 24px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .productos-container {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: auto;
  }
  .product-table {
    box-sizing: border-box;
    margin-left: 0%;
    margin-right: 0%;
    width: auto;
  }
  .table-productos {
    margin-top: 1cm;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: medium;
  }
  #opcions-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .productos-container {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: auto;
  }
  #abrir-add-product,
  #select-categoria {
    width: 100%;
    margin-bottom: 10px; /* Añadir espacio entre el botón y el select */
  }
  #opcions-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
