/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del fondo */
.Products .body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(10, 9, 9, 0.5)
    ),
    url("Images/Mecanicos-certificados-en-nuestras-marcas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;
}

.productos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 1800px;
  max-width: 1800px;
  padding-left: 290px;
  padding-right: 290px;
  margin-top: 80px; /* Espacio para la barra de navegación */
  margin: 80px auto; /* Centra el contenedor horizontalmente */
  min-height: calc(100vh - 80px);
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-table {
  box-sizing: border-box;
  width: 100%; /* Ajustado a 100% para evitar exceso de ancho */
}

.table-productos {
  margin-top: 1cm;
  background-color: rgba(66, 61, 61, 0.5);
  width: 100%;
}

th,
td {
  height: 70px;
  border-bottom: 1px solid;
}

#opcions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ajustado a 100% para evitar exceso de ancho */
  height: 100%;
}

#abrir-add-product {
  align-items: end;
  border-radius: 0%;
  width: auto; /* Ajustado a auto para evitar exceso de ancho */
  padding: 20px 10px;
}

#select-categoria {
  width: auto; /* Ajustado a auto para evitar exceso de ancho */
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
