.btn-download {
  font-size: 24px;
}

.selection,
.filter-fields {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reportes-gerencia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px; /* Reduce el margen superior */
  padding-top: 60px; /* Añadir espacio para evitar que el contenido se superponga con la navbar */
  min-width: 80vh;
}

.report-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px;
  background-color: #d10000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-radius: 5px;
}
