/* Estilos generales */

.Reports.body{

  padding: 10vh;
}
.reportes-container {
  width: 100%; /* Ajuste dinámico al 80% del ancho de la pantalla */
  margin: 0 auto; /* Centrado en la página */
  padding: 20px;
}

.reportes-container.title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}


.filter-section.select {
  margin-bottom: 20px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.filter-fields {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}

.generate-report {
  text-align: center;
}

.generate-report button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-report button:hover {
  background-color: #0056b3;
}

/* Ajustes para pantallas más grandes (escritorio) */
@media only screen and (min-width: 1024px) {
  .reportes-container {
    width: 90%; /* Ajusta al 60% del ancho de la pantalla en escritorio */
   
  }

  .title {
    font-size: 70px;
  }

  .filter-fields {
    flex-direction: row; /* Los filtros se alinearán en fila en pantallas grandes */
    justify-content: space-between;
  }

  .generate-report button {
    font-size: 55px;
  }
}

/* Ajustes para pantallas medianas (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .reportes-container {
    width: 70%; /* Ajusta al 70% del ancho de la pantalla en tablets */
  }

  .title {
    font-size: 88px;
  }

  .generate-report button {
    font-size: 18px;
  }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media only screen and (max-width: 767px) {
  .reportes-container {
    width: 90%; /* El contenedor ocupa el 90% del ancho de la pantalla */
    padding: 10px;
  }

  .title {
    font-size: 22px;
  }

  .filter-fields {
    gap: 10px; /* Reducir el espacio entre los filtros */
  }

  .generate-report button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
