/* Estilos generales */

.Reports body {
  margin: 0;
  display: flex;
  justify-items: space-between;
  min-width: 320px;
  min-height: 100vh;
  justify-content: flex-start;
}


.filter-section{
  margin-bottom: 5vh;
  
}
.reportes-container {
  width: 100%; /* Ajuste dinámico al 80% del ancho de la pantalla */
  margin: 0 auto; /* Centrado en la página */
  padding-top: 20vh;
  justify-content:left
}

.reportes-container label{
  white-space: nowrap;
}

.filter-fields input,
.filter-fields select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

}

.reportes-container.title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

label{
  font-size: x-large;
}


.filter-section select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.filter-fields {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: baseline;
}

.generate-report {
  text-align: center;
}

.generate-report button {
  padding: 12px 25px;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s;
  width: 50%;
}


.generate-report button:hover {
  background-color: #e63838;
  transform: translateY(-2px);
}

/* Ajustes para pantallas más grandes (escritorio) */
@media only screen and (min-width: 1024px) {
  .reportes-container {
    width: 100%; /* Ajusta al 60% del ancho de la pantalla en escritorio */
   
  }

  .title {
    font-size: 70px;
  }

  .filter-fields {
    flex-direction: row; /* Los filtros se alinearán en fila en pantallas grandes */
    justify-content: space-between;
  }

  .generate-report button {
    font-size: 20px;
  }
}

/* Ajustes para pantallas medianas (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .reportes-container {
    width: 70%; /* Ajusta al 70% del ancho de la pantalla en tablets */
    height: 100%;
  }

  .title {
    font-size: 88px;
  }

  .generate-report button {
    font-size: 18px;
  }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media only screen and (max-width: 767px) {
  .reportes-container {
    width: 90%; /* El contenedor ocupa el 90% del ancho de la pantalla */
    padding: 10px;
  }

  .title {
    font-size: 22px;
  }

  .filter-fields {
    gap: 10px; /* Reducir el espacio entre los filtros */
    flex-direction: column;
    display: flex;
  }

  .generate-report button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
