/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.restore-password-container {
  position: absolute;
  margin-top: 30px;
  margin-left: 15%;
  border-radius: 0.5cm;
  padding: 1px 20px 30px 30px;
  background-color: #ffffff;
  border-style: solid;
  border-color: green;
  z-index: 5;
}

.restore-password-title {
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
}

.restore-password-label {
  color: black;
}

.rp-input {
  height: 30px;
  width: 100%;
  font-size: larger;
}

.btn-rp-continuar {
  margin-left: 5%;
}
.btn-rp-cancelar {
  width: 120px;
}
