/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#routes-verify-container {
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding: 20px;
}

/* Estilos generales */
.routes-verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routes-verify-filters {
  margin-bottom: 20px;
  align-items: center;
  width: 70%;
}
.route-verify-input {
  margin-bottom: 15px;
}
.route-verify-date_label {
  color: blanchedalmond;
  font-size: larger;
  font-weight: 700;
}
.route-verify-date {
  height: 40px;
  width: 120px;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: blanchedalmond;
  margin-bottom: 20px;
}

/* Listado de rutas */
.routes-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  position: sticky;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  #routes-verify-container {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .routes-card-list {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 769px) {
  #routes-verify-container {
    padding: 20px;
  }

  h2 {
    font-size: 28px;
  }

  .routes-card-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
}
