.add-route {
  max-width: 620px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #444444;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-route input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#submit-ruta {
  margin-top: 2%;
  border-color: red;
  color: white;
  background-color: red;
}
