/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secret-answer-container {
  margin-top: 50px;
  border-radius: 0.5cm;
  padding: 1px 20px 30px 30px;
  background-color: #f4f4f4;
  z-index: 10;
}

.secret-answer-title {
  color: black;
  font-weight: 600;
}

.sa-input {
  height: 25px;
  width: 50%;
}

.secret-answer-label {
  color: black;
}

.btn-sa-continuar {
  margin-left: 20%;
}
.btn-sa-cancelar {
  width: 120px;
  margin-left: 20%;
}

.sa-input:disabled:hover {
  cursor: not-allowed;
}
.sa-select:disabled:hover {
  cursor: not-allowed;
}
.btn-sa-continuar:disabled {
  background-color: grey;
}
.btn-sa-cancelar:disabled {
  background-color: grey;
}
.btn-sa-continuar:disabled:hover {
  cursor: not-allowed;
}
.btn-sa-cancelar:disabled:hover {
  cursor: not-allowed;
}
